body {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

article {
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

figure {
    margin: 0;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-img img {
    border-radius: 3px;
    width: 100%;
    height: auto;
}

.post-info {
    margin: 2% 0 0 0;
}

.post-title {
    font-size: 2em;
    font-weight: 600;
    margin-top: .4em;
    margin-bottom: .4em;
}

.post-meta {
    font-weight: 700;
    color: #757575;
    font-size: 90%;
    display: flex;
    align-items: center;
}

.post-meta span {
    font-size: 1.4em;
}

.post-meta a {
    margin-left: 10px;
    margin-right: 10px;
}

.post-time {
    margin-left: 1em;
}

.post-content {
    margin-bottom: 6%;
}

p {
    font-size: 1.1rem;
    word-wrap: break-word;
    line-height: 1.9;
    color: #616161;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.card-left {
    width: 35%;
}

.card-left img {
    width: 100%;
    border-radius: 3px;
}

.card-right {
    width: 63%;
    padding-left: 2%;
}

.card-right h2 {
    margin: 0;
    margin-bottom: 4%;
}

.rt-icon {
    background: transparent url('rt.png') no-repeat;
    background-size: cover;
    height: 28px;
    width: 28px;
}

.card-ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-score {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 2px;
    align-self: center;
}

.rating {
    display: flex;
    margin-right: 14px;
}

.imdb {
    background-color: #FFC107;
    color: black;
    font-weight: 700;
    padding: 3px;
    margin-right: 8px;
}

.card-rank {
    font-size: .9em;
    background: #EEEEEE;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
}

.runtime {
    font-size: 1.4em;
    margin-right: 5px;
}

.runtime span {
    font-size: 1.2em;
}

.fan-review {
    background-color: #EEEEEE;
    padding: 12px;
    margin-top: 18px;
    border-radius: 4px;
}

.fan-review p {
    margin: 0;
}

.one-column {
    width: 100%;
}

.one-column h3 {
    margin-bottom: 1%;
}

.one-column p {
    margin: 0;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    flex-direction: column;
}

.logo-figure {
    width: 60%;
}

.logo-figure img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 110%;
    font-weight: 700;
}

header ul li a {
    text-decoration: none;
    color: #000000a6;
}

li a.active {
    color: #000000;
    border-bottom: 4px solid #f26363;
    font-weight: 700;
    padding-bottom: 4%;
}

li a:hover {
    border-bottom: 4px solid #020000;
    font-weight: 700;
    padding-bottom: 4%;
    color: #000000;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

footer header figure {
    display: flex;
    justify-content: center;
}

footer header figure img {
    width: 100%;
    height: 65px;
}

footer header span {
    text-align: center;
    font-weight: 700;
    color: #757575;
}

.buttons {
    margin-top: 3%;
}

.button-trailer {
    display: flex;
    background: #d32f2f;
    padding: 3%;
    justify-content: center;
    color: white;
    border-radius: 4px;
    align-items: center;
}

.button-trailer:hover {
    opacity: 0.8;
}

.button-trailer span {
    font-size: 2em;
    margin-right: 2%;
}

.buttons a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

/* movie-card background
background: #FAFAFA;
padding: 10px;
border-radius: 4px; */

/* MOBILE NAVIGATION STYLE */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.posts-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 5%; */
    flex-wrap: wrap;
}

.post-card {
    background: #F5F5F5;
    border-radius: 5px;
    width: 48%;
    height: 100%;
    margin-bottom: 3%;
    opacity: 0.9;
}

.post-card:hover {
    opacity: 1;
}

.post-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-card h2 {
    margin: 4px 10px 0px 10px;
    color: #424242;
    font-weight: 700;
    font-size: 1.3em;
}

.post-card a {
    text-decoration: none;
}

.post-card p {
    margin: 0px 10px 10px 10px;
    color: #D32F2F;
    font-weight: 700;
    font-size: 1em;
}

.posts-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2b2b2b;
    background: #ffffff;
    padding: 3% 0% 3% 0%;
    border-radius: 3px;
    margin: 0% 1% 2% 1%;
    cursor: pointer;
}

.posts-title:hover {
    opacity: 0.8;
}

.posts-title h1 {
    margin: 0;
}

.posts-title span {
    font-weight: 700 !important;
}

.feature-link {
    text-decoration: none;
}

.providers {
    flex-direction: row;
    margin: 0% 1% 0 1%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-provider {
    display: flex;
    background: #eeeeee33;
    width: 49%;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2%;
}

.card-provider:hover {
    opacity: 0.8;
}

.card-provider img {
    width: 50%;
    height: auto;
}

.explore-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2b2b2b;
    background: #ffffff;
    border-radius: 3px;
    margin: 0% 1% 2% 1%;
    cursor: pointer;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2b2b2b;
    background: #ffffff;
    /* padding: 3% 0% 3% 0%; */
    border-radius: 3px;
    margin: 2% 1% 3% 1%;
    cursor: pointer;
    font-size: 1.5em;
}

.page-title h1 {
    margin: 0;
}

.post-ul {
    font-size: 1.1rem;
    color: #616161;
}

.post-link {
    text-decoration: none;
    color: #D32F2F;
    font-weight: 700;
}

.one-card {
    width: 98% !important;
}

.display-none {
    display: none !important;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trailer-cards {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trailer-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
    width: 24%;
    opacity: 0.9;
}

.trailer-card:hover {
    opacity: 1;
}

.card-trailer {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card-trailer img {
    width: 100%;
    border-radius: 5px;
}

.card-trailer h2 {
    font-size: 1.2em;
    margin: 6%;
    color: #757575;
}

.trailer-play {
    width: 50%!important;
    position: absolute;
    top: 30%;
}

.video-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #000000b8;
    justify-content: center;
    align-items: center;
}

.video-content {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.video-content .embed-container {
    width: 100%;
}
/* SMARTPHONES */

@media only screen and (max-width: 426px) {
    /* NAVIGATION OVERLAY */
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    /* ================================================= */
    /* MAIN, HEADER */
    .logo-figure a {
        width: 78% !important;
        padding-right: 7% !important;
    }
    /* ================================================= */
    /* POST HEADER AND PARAGRAPH */
    .post-title {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
    /* ================================================= */
    /* CARDS */
    .card {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card-left {
        width: 65%;
        margin-bottom: 8%;
    }
    .card-right {
        width: 100%;
        padding: 0;
    }
    .card-ratings {
        flex-wrap: wrap;
    }
    .rating {
        margin-bottom: 2%;
    }
    /* ================================================= */
    /* HOMEPAGE */
    .post-card {
        width: 100% !important;
        margin-bottom: 6% !important;
    }
    .posts-title {
        margin: 0 0 4% 0;
    }
    .head {
        margin-bottom: 6%;
    }
    /* CARD PROVIDERS */
    .card-provider {
        height: 115px;
    }
    .providers {
        margin: 4% 0% 0 0%;
    }
    .card-provider img {
        width: 60%;
    }
    /* ================================================= */
    /* PAGES  */
    .page-title {
        margin: 2% 1% 3% 0%;
    }
    /* ================================================= */
    /* TRAILER  */
    .trailer-card {
        width: 48%!important;
    }
    /* ================================================= */
    /* VIDEO  */
    .video-content {
        width: 95%!important;
    }
}

/* TABLETS */

@media only screen and (min-width: 426px) and (max-width: 600px) {
    /* CARDS */
    .card {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card-left {
        width: 50%;
        margin-bottom: 8%;
    }
    .card-right {
        width: 100%;
        padding: 0;
    }
    .card-ratings {
        flex-wrap: wrap;
    }
    .rating {
        margin-bottom: 2%;
    }
    /* ================================================= */
    /* TRAILER  */
    .trailer-card {
        width: 32%!important;
    }
    /* ================================================= */
    /* VIDEO  */
    .video-content {
        width: 95%!important;
    }
}

@media only screen and (max-width: 1024px) {
    /* MAIN, HEADER */
    main {
        width: 95% !important;
    }
    .menu-button {
        display: flex !important;
        justify-content: flex-start;
        background: #F5F5F5;
        padding: 8px;
        font-size: 175%;
        color: #757575;
    }
    .desktop-nav {
        display: none !important;
    }
    .logo-figure {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
    }
    .logo-figure a {
        width: 70% !important;
        padding-right: 12% !important;
    }
    /* ================================================= */
    /* FOOTER */
    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        padding: 0;
        margin-bottom: 2%;
    }
    /* ================================================= */
    /* HOMEPAGE */
    .post-card {
        width: 48%;
    }
    /* ================================================= */
    /* TRAILER  */
    .trailer-card {
        width: 24%;
    }
    /* ================================================= */
    /* VIDEO  */
    .video-content {
        width: 75%;
    }
}

/* SMALL SCREEN LAPTOPS */

@media only screen and (max-width: 1300px) {
    /* MAIN, HEADER */
    .menu-button {
        display: none;
    }
    main {
        width: 70%;
    }
    /* ================================================= */
}

/* LARGE SCREEN LAPTOPS */

@media only screen and (min-width: 1300px) {
    /* MAIN, HEADER */
    .menu-button {
        display: none;
    }
    main {
        width: 50%;
    }
    /* ================================================= */
}